{% block style %}
<style>
.professional-label {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  /* Hover effect */
  .professional-label:hover {
    background-color: #f5f5f5;
    border-color: #ccc;
  }
  
  /* Selected state */
  .professional-assign-div input[type="radio"]:checked + .professional-label {
    background-color: #e0f3ff;
    border-color: #007bff;
  }
</style>
{% endblock %}  
<div class="container my-3">
    <h2>Service Categories</h2>
    <table class="table table-bordered table-striped" id="categories">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Category Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <div class="d-flex justify-content-evenly gap-3 flex-wrap ms-auto" style="max-width:240px">
                        <button class="btn btn-primary btn-sm" onclick="openEditCategoryModal(event,{{category.id}})">Edit</button>
                        <button class="btn btn-danger btn-sm" onclick="deleteCategory(event,{{category.id}})">Delete</button>
                    </div>
                </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <div class="d-flex justify-content-end w-100 gap-3">
        <button class="btn btn-primary" onclick="showAddCategoryModal(event)">New Category</button>
        </div>
        {% include "admin_services.html" %}
        <h2>Active Services</h2>
        <div class="alert alert-info {% if services|length!=0 %}d-none{% endif %}" role="alert" id="services-alert">
            No active services to show
        </div>
        <table class="table table-bordered table-striped {% if services|length==0 %}d-none{% endif %}" id="services">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Base Price (₹)</th>
                    <th scope="col">Time (minutes)</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for service in services %}
                <tr>
                    <th scope="row">{{service.id}}</th>
                    <td>{{service.name}}</td>
                    <td>{{service.description}}</td>
                    <td>{{service.price}}</td>
                    <td>{{service.time_required_minutes}}</td>
                    <td>{{service.category.name}}</td>
                    <td>
                        <div class="d-flex justify-content-evenly gap-3 flex-wrap ms-auto" style="max-width:240px">
                            <button class="btn btn-primary btn-sm" onclick="openEditServiceModal(event,{{service.id}})">Edit</button>
                            <button class="btn btn-danger btn-sm" onclick="deleteService(event,{{service.id}})">Delete</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end w-100 gap-3">
            <button class="btn btn-primary" onclick="openServiceAddModal(event)">New Service</button>
        </div>
        <h2>Inactive Services</h2>
        <div class="alert alert-info {% if inactive_services|length!=0 %}d-none{% endif %}" role="alert" id="inactive-services-alert">
            No inactive services to show
        </div>
        <table class="table table-bordered table-striped {% if inactive_services|length==0 %}d-none{% endif %}" id="inactive_services">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Base Price (₹)</th>
                    <th scope="col">Time (minutes)</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for service in inactive_services %}
                <tr>
                    <th scope="row">{{service.id}}</th>
                    <td>{{service.name}}</td>
                    <td>{{service.description}}</td>
                    <td>{{service.price}}</td>
                    <td>{{service.time_required_minutes}}</td>
                    <td>{{service.category.name}}</td>
                    <td>
                        <div class="d-flex justify-content-evenly gap-3 flex-wrap ms-auto" style="max-width:240px">
                            <button class="btn btn-success btn-sm" onclick="reactivateService(event,{{service.id}})">Reactivate</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>New Professionals</h2>
        {% if professionals|length == 0 %}
        <div class="alert alert-info" role="alert">
            No new professionals to show
        </div>
        {% else %}
        <table class="table table-bordered table-striped" id="professionals">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Experience (Years)</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for professional in professionals %}
                <tr>
                    <th scope="row">{{professional.id}}</th>
                    <th>{{professional.email}}</th>
                    <td>{{professional.name}}</td>
                    <td>{{professional.experience}}</td>
                    <td>{{professional.service.name}}</td>
                    <td>
                        <div class="d-flex justify-content-evenly gap-3 flex-wrap ms-auto" style="max-width:240px">
                            <a href="/professional/{{professional.id}}" target="_blank" class="btn btn-info btn-sm">View Profile</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <h2>Service Requests</h2>
        <div id="request-table-alert"></div>
        <table class="table table-bordered table-striped d-none" id="requests">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Address</th>
                    <th scope="col">Professional Name</th>
                    <th scope="col">Requested on</th>
                    <th scope="col">Expected on</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider"></tbody>
        </table>
        <div class="modal fade" id="assignProfessionalModal" tabindex="-1" aria-labelledby="assignProfessionalModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="assignProfessionalModalLabel">Assign a professional</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="service_request_details">
                            
                        </div>
                        <div class="radios d-flex flex-column gap-2"></div>
                        <div id="assign-professional-alert" class="mt-2"></div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Assign</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
</div>