{% extends "base.html" %}

{% block title %}
{% if professional!=none %}
{{professional.name}} ({{professional.email}}) | Professional | HomeGenie
{% else %}
Professional Not Found | HomeGenie
{% endif %}
{% endblock %}

{% block navbar_title %}
{% if signin_as=="admin" %}
HomeGenie | Admin
{% elif signin_as=="professional" %}
HomeGenie | Customer
{% elif signin_as=="professional" %}
HomeGenie | Professional
{% endif %}
{% endblock %}

{% block main %}
{% if professional==None %}
<main class="w-100 m-auto" style="max-width:1240px; padding:1rem;">
    <h1 class="h3 mb-3 fw-normal text-center">Professional Not Found</h1>
    <p class="text-center">The professional you are looking for does not exist.</p>
</main>
{% else %}
<main class="w-100 m-auto" style="max-width:1240px; padding:1rem;">
    <h1 class="h3 mb-3 fw-normal text-center">
        {% if signin_as=="admin" %}
        Professional Details
        {% else %}
        Profile
        {% endif %}
    </h1>
    <h2 class="h4 fw-normal text-center mb-4">
        <div class="d-flex gap-2 align-items-center justify-content-center">
            <span class="fs-5">Average Rating :</span>
        <div class="avg-rating-with-no gap-2 fs-6"><div class="avg-rating-bg"><div class="avg-rating fs-3" style="--rating: {{average_rating}}" aria-label="Rating: {{average_rating}} out of 5" ></div></div>{{average_rating}}</div>
        </div>
    </h2>
    <form>
        <fieldset>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" value="{{professional.name}}" readonly required>
                <label for="name">Full Name</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{professional.email}}" readonly required>
                <label for="email">Email</label>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating mb-2">
                <input type="tel" class="form-control" id="phone" placeholder="Phone No." name="phone" value="{{professional.phone}}" readonly required>
                <label for="phone">Phone No.</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="experience" placeholder="Experience (years)" name="experience" value="{{professional.experience}}" readonly required>
                <label for="experience">Experience (years)</label>
            </div>
        </div>
    </div>
    <div class="form-floating mb-2 d-none">
        <input type="password" class="form-control" id="password" placeholder="Password (Optional)" name="password" value="" >
        <label for="service">Password (Optional)</label>
    </div>
    <div class="form-floating mb-2">
        <input type="number" class="form-control" id="pincode" placeholder="Pincode" name="pincode" value="{{professional.pincode}}" readonly required>
        <label for="service">Pincode</label>
    </div>
    <div class="form-floating mb-2">
        <textarea class="form-control" placeholder="Please enter your address" id="address" name="address" style="height: 100px" readonly required>{{professional.address}}</textarea>
        <label for="address">Address</label>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="service" placeholder="Service" value="{{professional.service.name}}" readonly required>
        <label for="service">Service</label>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="category" placeholder="Category" value="{{professional.service.category.name}}" readonly required>
        <label for="category">Category</label>
    </div>
    </fieldset>
    {% if signin_as=="admin" %}
    <a href="/static/uploads/resumes/resume_{{professional.id}}_.pdf" class="btn btn-primary w-100" target="_blank">View Resume</a>
    <button type="button" class="m-auto mt-4 d-flex justify-content-center align-items-center gap-2 btn btn-lg btn-{% if professional.is_banned %}success{% else %}danger{% endif %}" onclick="{% if professional.is_banned %}unbanUser{% else %}banUser{% endif %}(event,'professional',{{professional.id}})" ><i class="bi bi-person-{% if professional.is_banned %}check{% else %}slash{% endif %} fs-4"></i>{% if professional.is_banned %}Unban Professional{% else %}Ban Professional{% endif %}</button>
    {% endif %}
    <div class="d-flex justify-content-center gap-3 mt-4 flex-wrap">
        {% if signin_as=="admin" %}
        {% if professional.approved %}
        <button class="btn btn-danger" disabled>Approved</button>
        {% else %}
        <button class="btn btn-outline-success" onclick="approveProfessional(event,{{professional.id}})">Approve</button>
        {% endif %}
        {% else %}
        <div class="d-flex gap-4 w-100 justify-content-center">
        <button type="button" class="btn btn-secondary d-none cancel-button" onclick="cancelEditing(event)" >Cancel</button>
        <button type="button" class="btn btn-primary" onclick="handleProfileEdit(event)" >Edit Profile</button>
        </div>
        {% endif %}
        
    </div>
</form>
<div id="service_history" class="d-none">
    <h2 class="h3 my-3 fw-normal text-center">Service History</h2>
    <div class="history_table_div"></div>
</div>
</main>
{% endif %}
{% endblock %}

{% block scripts %}
{% if signin_as=="admin" %}
<script src="/static/js/ban_unban_user.js"></script>
<script src="/static/js/profile_service_requests.js"></script>
<script src="/static/js/approve_professional.js"></script>
{% else %}
<script src="/static/js/edit_profile.js"></script>
{% endif %}
{% endblock %}